* {
	margin: 0;
	padding: 0;
}
* {
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: 17px;
}

fieldset{
	border: none;
	margin-top:40px;
	color: #000;
}

input{
	width: 45%;	
	border: #ccc solid 1px;
}

input:focus {
	outline:none;
	border:#3B99FC solid 1px;
	outline:none;
}

input:hover{
	outline: #3B99FC solid 1px;
	border:#3B99FC solid 1px;
}

form{
	text-align: center;
}
button{
	margin-bottom: 50px ;
	width: 70%;
	line-height: 40px;
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	outline: none;
	border: none;
	background:#3B99FC ;
	font-weight: 200;
	color: #fff;
}

.contain {
	height: 100vh;
	width: 100vw;
	background-image:url(../img/2.jpg);
	background-size: cover ;
	background-position: center;
	position: absolute;
}

.box{
	margin: 0 auto;
	margin-top:18vh;
	width: 500px;
	border-radius: 20px ;
	padding-top: 10px ;
	background: #FFFFFF;
	position: relative;
}

.select {
	width: 400px;
	margin: 0  auto;
	position: relative;
	margin-top: 20px;
}

.ant{
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-weight: 700;
	letter-spacing: 0.5em;
	font-size: 20px;
	color: #CCCCCC;
	position: relative;
	cursor: pointer;
}
.ant:nth-child(1){
	float: left;
}
.ant:nth-child(2){
	float: right;
}

.clear{
	clear: both;
}
.s_hr{
	width: 400px;
	margin: 0 auto;
	border: #CCCCCC solid 2px;
	border-radius: 20px;
	margin-top:10px;
}
.ss_hr{
	width: 80px;
	margin-left: 5px;
	border: #3B99FC solid 4px;
	margin-top:-6px;
	transition: 0.3s  linear ; 
}

.reLo{
	background: #FFFFFF;
	width: 500px;
	display: none;
	border-radius: 0 0 20px 20px;
}
.active{
	color: #3B99FC;
	display: block;
}
