<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>注册</title>
	</head>
	<link style="text/css" rel="stylesheet" href="../static/css/login.css">
	<script  type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script  type="text/javascript" src="../static/js/jquery.mmenu.js"></script>
	<script  type="text/javascript" src="../static/js/login.js"></script>
	<body>
		<div class="contain">
			<div class="box"> 
				<div class = "select">
					<a class="ant active">登录</a>
					<a class="ant">注册</a>
					<div class="clear"></div>
					<div class="s_hr"></div>
					<div class="ss_hr"></div>
				</div>
				<div class="select_sed">
					<div class="reLo active">
						<form action="http://www.hutwuguangrong.com:5000/api/auth/login" method="post">
							  <fieldset>
								<label for="email">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</label>
								<input type="text"  name="email"  />
							  </fieldset>	
							  <fieldset>
								<label for ="password">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
								<input type="password"  name="password"   />
							  </fieldset>
								<fieldset>
								<button type="submit" >登录</button>
								</fieldset>	  	  
						</form>
					</div>
					<div class="reLo">
						<form action="http://www.hutwuguangrong.com:5000/api/auth/register" method="post" >
							  <fieldset>
								<label for = "name">用&nbsp;&nbsp;户&nbsp;&nbsp;名：</label>
								<input type="text"  name="name" />
							  </fieldset>
							  <fieldset>
								<label for="reg_email">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</label>
								<input type="text"  name="email"  />
							  </fieldset>	
							  <fieldset>
								<label for ="reg_password">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
								<input type="password"  name="password"   />
							  </fieldset>
							  <fieldset>
								<button type="submit" >注册</button>
							   </fieldset>	  	  
						</form>
					</div>
				</div>

			</div>
		
		</div>
		
	</body>

</html>
